body {
    background-color:green;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-item {
    background-color:aqua;
}

.container-fluid { 
    background-color: cadetblue;
}

